*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-height: 100vh;
  color: $color-blue-lighter;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url(../assets/mobile/image-host.jpg);
    background-size: cover;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-color: rgba($color-black, 0.9);
    background-blend-mode: multiply;
    left: -1.5rem;
  }

  @include respond(tab-port) {
    &::before {
      background-image: url(../assets/tablet/image-host.jpg);
      background-size: auto;
      right: -1.5rem;
      left: auto;
      top: -0.1rem;
      width: 491px;
      height: 767px;
      background-color: transparent;
    }

    background-repeat: no-repeat;
    background-color: rgba($color-black, 1);
    background-blend-mode: unset;

    padding-bottom: 9.5rem;

    &::after {
      position: absolute;
      content: "";
      background-image: url(../assets/desktop/bg-pattern-dots.svg);
      background-position: left bottom;
      background-size: cover;
      width: 14.5rem;
      height: 6.5rem;
      bottom: -6.5rem;
      left: -0.5rem;
    }
  }

  @include respond(desktop) {
    &::before {
      background-image: url(../assets/desktop/image-host.jpg);
      width: 55.5rem;
      height: 40rem;
      top: 5.2rem;
    }

    &::after {
      background-image: url(../assets/desktop/bg-pattern-dots.svg);
      bottom: 9rem;
      left: auto;
      right: 0;
    }
  }
}
