// COLORS

$color-primary: #54e6af;
$color-primary-light: #b3ffe2;
$color-blue-dark: #2c344b;
$color-blue-light: #5a668a;
$color-blue-lighter: #c2cbe5;
$color-black: #121725;
$color-white: #fff;
$color-warning: #fb3e3e;

// FONT-WEIGHTS
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
